body{
    font: 1.5em Arial, sans-serif;
}

.navbar{
    background-color: #A2AD91;
    
}

.title{
    font-weight: 600;
    font-size: 1.5em;
}

.quem-somos{
    background-color: #DBB4AD;
    color: white;
}

.quem-somos .texto{
    margin-top: 30px;
    margin-bottom: 10px;
}

.padding{
    padding-top: 30px;
    padding-bottom: 50px;
}

.atividades{
    background-color: #FFE3DC;
    color: gray;
}

.estrutura{
    background-color: #AFAFB1;
    color: white;
}

.paragrafo{
    margin-top: 20px;
    margin-bottom: 40px;
}

.bg-footer{
    background-color: #95401C;
    color: white;
}

